<div class="flex h-screen">
    <div class="flex-1">
        <div class="mx-auto">
            <img [src]="'assets/images/ktb_logo.png'" alt="ktb_logo" class="w-56" />
            <p class="font-bold text-2xl text-blue-400">Budget Prep. Tool</p>

            <fieldset class="fieldset">
                <legend class="fieldset-legend">ค้นหา Menu title</legend>
                <div class="grid grid-cols-12">
                    <div class="col-span-12">
                        <app-input />
                    </div>
                </div>
            </fieldset>
            <app-input />
            <a href="#" class="text-blue-400 font-medium hover:underline">คู่มือระบบงบประมาณสำหรับหน่วยงานและสาขา</a>
            <a href="#" class="text-blue-400 font-medium hover:underline">คู่มือระบบงบประมาณสำหรับสายงาน กลุ่ม
                เขต</a>
        </div>
    </div>
    <div class="flex-1 bg-cover bg-center" style="background-image: url('/assets/images/bg_login.jpg')">
    </div>
</div>