<div class="px-4 py-6 bg-white rounded-md shadow-sm">
    <app-row [gap]="4">
        <app-col [span]="12">
            <div class="py-1 px-2 bg-blue-700 text-base font-semibold text-white">
                Role Detail
            </div>
        </app-col>
    </app-row>

    <app-row [gap]="4" class="mb-2">
        <app-col [md]="12" [lg]="6">
            <app-textarea label="Role name" placeholder="กรุณาระบุ" [required]="true"></app-textarea>
        </app-col>
        <app-col [md]="12" [lg]="6">
            <app-textarea label="Role Description" placeholder="กรุณาระบุ"></app-textarea>
        </app-col>
    </app-row>

    <div class="grid grid-cols-1 gap-4 py-2">
        <div class="py-1 px-2 bg-blue-700 text-base font-semibold text-white">
            Role Menu
        </div>
    </div>

    <br />

    <app-row [gap]="4">
        <app-col [sm]="6" [lg]="4">
            <app-input placeholder="กรุณาระบุ">
                <app-button suffix color="primary" iconLeft="search">
                    ค้นหา
                </app-button>
            </app-input>
        </app-col>
    </app-row>

    <br />

    <div class="flex items-center gap-4">
        <p class="text-gray-700 font-semibold">รายการ เมนู</p>
        <div class="dropdown dropdown-end">
            <button tabindex="0"
                class="flex cursor-pointer items-center justify-center gap-2 border text-gray-700 bg-gray-100 border-gray-300 px-4 py-2 rounded-lg font-medium transition">
                <span class="text-sm font-medium">เลือกรายการแสดง</span>
                <app-icon name="filter2" size="20" class="text-gray-700" ariaLabel="filter2"></app-icon>
            </button>

            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 w-52 text-gray-700">
                <li>
                    <app-checkbox [label]="'ทั้งหมด'"></app-checkbox>
                </li>
                <li *ngFor="let menu of menus">
                    <app-checkbox [label]="menu.name"></app-checkbox>
                </li>
            </ul>
        </div>
    </div>

    <div class="grid grid-cols-1 pt-2">
        <ul class="text-gray-700">
            <li *ngFor="let menu of menus" class="flex gap-2 items-center border-b border-gray-200 py-2">
                <app-icon name="chevron-down" size="20" class="text-gray-700" ariaLabel="chevron-down"></app-icon>
                <div class="flex flex-col ">
                    <app-checkbox [label]="menu.name"></app-checkbox>
                    <p class="text-xs font-normal text-gray-500">menu id: {{ menu.id }}</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="pt-4 border border-gray-300 rounded-sm mt-4 p-4 space-y-2">
        <app-row [gap]="4">
            <app-col [md]="6" [lg]="4">
                <p class="text-gray-700 text-xs font-bold">วันที่สร้าง</p>
                <p class="text-gray-700 text-xs font-medium">12/12/2568 10:10</p>
            </app-col>
            <app-col [md]="6" [lg]="4">
                <p class="text-gray-700 text-xs font-bold">สร้างโดย</p>
                <p class="text-gray-700 text-xs font-medium">Administrator</p>
            </app-col>
        </app-row>

        <app-row [gap]="4">
            <app-col [md]="6" [lg]="4">
                <p class="text-gray-700 text-xs font-bold">วันที่แก้ไข</p>
                <p class="text-gray-700 text-xs font-medium">12/12/2568 10:10</p>
            </app-col>
            <app-col [md]="6" [lg]="4">
                <p class="text-gray-700 text-xs font-bold">แก้ไขโดย</p>
                <p class="text-gray-700 text-xs font-medium">Administrator</p>
            </app-col>
        </app-row>
    </div>

    <div class="fixed bottom-0 left-0 bg-white w-full h-14">
        <div class="flex items-center justify-center gap-4 h-full">
            <app-button (click)="gotoMain()">
                ยกเลิก
            </app-button>
            <app-button color="primary" (click)="save()">
                บันทึก
            </app-button>
        </div>
    </div>
</div>