/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";


html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

@layer base {

  textarea::placeholder,
  input::placeholder {
    @apply text-gray-400;
    /* 👈 กำหนดสี placeholder ที่ต้องการ */
  }
}

@theme {
  --color-blue-100: #E6F6FD;
  --color-blue-200: #D9F2FC;
  --color-blue-300: #B0E4F8;
  --color-blue-400: #00A6E6;
  --color-blue-500: #0195CF;
  --color-blue-600: #0086BA;
  --color-blue-700: #007EAF;

  --color-gray-100: #F5F7FA;
  --color-gray-200: #E4E7EB;
  --color-gray-300: #CFD9E0;
  --color-gray-400: #A0A7B1;
  --color-gray-500: #67728A;
  --color-gray-600: #5B616B;
  --color-gray-700: #414D63;
  --color-gray-800: #1B273A;

  --color-red-500: #DA294A;

  --color-green-200: #CDF3C6;
  --color-green-500: #4BB543;
  --color-green-600: #006D23;
  --color-green-700: #3A8D3A;

  --color-orange-200: #FDE5C0;
  --color-orange-500: #FF9500;
  --color-orange-600: #B12D00;
}

.menu :where(li ul):before {
  width: 0 !important;
}